$wrapper
  // max-width $contentWidth
  width 100%
  // margin 0 auto
  padding 2rem 2.5rem
  // padding-right 460px
  box-sizing border-box
  overflow hidden
  @media (max-width: $MQNarrow)
    padding 2rem
    .wrap 
      max-width 740px
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem
    .wrap 
      max-width 740px

