.new-uni-swiper-indicator .new-uni-swiper-indicator-item {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	border: 0.1px solid rgba(230, 230, 230, 0.3);
	background-color: rgba(0, 0, 0, 0.3);
	margin: 2px 4px;
}

.new-uni-swiper-indicator .new-uni-swiper-indicator-item.active {
	border: 0.1px solid rgba(225, 225, 225, 0.9);
	background-color: rgba(255, 255, 255, 0.9);
}