node_modules/
.project
.claude
unpackage/
harmony-configs
.DS_Store
.hbuilderx/
__image_snapshots__/
__snapshot__
/code-review/node_modules
harmony-configs
/uni_modules/uni-pop-view/
/pages/pop-view/
/nul

temps/example_temps

temps/sync-changelog.md