//颜色变量

//行为相关
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-danger: #dd524d;

//主题相关
$uni-color-blue: #007aff;
$uni-color-green: #4cd964;
$uni-color-yellow: #f0ad4e;
$uni-color-red: #dd524d;

$uni-text-color:#333
$uni-border-color:#c8c7cc;
$uni-background-color:#fff;

//尺寸变量
$uni-text-size:32upx;


$nav-height:60px;


