/* 主题变量 */
.theme-light {
	--list-background-color: #ffffff;
	--background-color: #f8f8f8;
	--active-color: #a0a0a0;
	--active-background-color: #f8f8f8;
	--text-color: #333333;
	--arrow-color: #999999;
	--border-color: rgba(0, 0, 0, .06);
}

.theme-dark {
	--list-background-color: #2d2d2d;
	--background-color: #1a1a1a;
	--active-color: #8f8f8f;
	--active-background-color: #3b3b3b;
	--text-color: #ffffff;
	--arrow-color: #ffffff;
	--border-color: rgba(255, 255, 255, 0.1);
}
